/* #box {
    background-color: darkgreen;
    height: 100px;
    width: 100px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed ;
    text-decoration-color: red;
    text-transform: uppercase;
    font-size: 12px;
    font-family:'Linefont', cursive;
}
.article{
    line-height: 15px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Linefont', cursive;
    
} */

/* project level-4 */
*{
    font-family: 'Times New Roman', Times, serif;
}

#sharuk {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
#family {
    font-family: 'Times New Roman', Times, serif;
}
#inner {
    font-size: 10px;
}
#outter {
    font-size: 25px;
}
#icon{
    font-size: 70px;
}
#icon2{
    font-size: 100px;
}