*{
    margin: 0px;
    padding: 0px;
}
nav {
    padding: 5px;
}
nav a {
    text-decoration: none;
    margin: 5px;
    padding: 4px;
}
header {
    background-color: pink;
    height: 30px;
}
#second {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 49%;
    z-index: 2;
    position: absolute;
    left: 20px
}
.box {
    height: 100px;
    width: 100px;
    background-color: brown;
    display: inline-block;
    margin: 4px;
}
#container {
    border: 5px solid;
}
#box3 {
    position: fixed;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: blanchedalmond;
}