*{
    padding: 0px;
    margin: 0px;
}
#box1 {
   
}
#box1 {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: khaki;
    text-align: center;
}
#box2 {
    height: 30%;
    width: 70%;
    margin: 5px;
    background-color: slateblue;
    text-align: center;

}