* {
    margin: 0px;
    padding: 0px;
    background-color:#f0f2f5;
}
header {
    color: rgb(34, 94, 224);
    margin: 1px;
    padding: 15px;
    font-weight: 700;
    position: relative;
    font-size: 8rem;
    background-color: #f0f2f5;
    top: 300px;
    left: 200px;
}
main {
    background-color:#f0f2f5;
}
#login {
    height: 377px;
    width: 465px;
    background-color: white;
    margin: 40px 0 0;
    padding: 217px;
    position: relative;
    bottom: 150px;
    left: 70rem;
    border-radius: 8px;
    display: block;
}
.login {
    height: 40px;
    width: 500px;
    margin: 5px;
    font-size: medium;
    border-radius: 7px;
    background-color: white;

}
#submit #button {
    text-align: center;
}
#language {
    position: relative;
}
footer {
    position: fixed;
    bottom: 1%;
    font-weight: 300;
    font-size: 13.5px;
}
#submit {
    color:white;
    background-color: #1877f2;
    border:#1877f2;
    font-weight: 700;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    width: 504px;
    height: 49px;
    position: relative;
    left: -5px;

}
#button {
    color:white;
    border: #42b72a;
    background-color: #42b72a;
    text-shadow: #f0f2f5;
    font-weight: 700;
    width: 270px;
    position: relative;
    left: 111px;
    top: 35px;
    margin-top: 20px;
    

}
.user{
    text-align: center;
    position: relative;
    left: 163px;
    margin: 20px;
    padding: 8px;
    height: 20px;
    width: 20px;
    top:9px;
    text-decoration: none;
    background-color: white;

}
.hr1 {
    position: relative;
    top: -30px;
    left: 8px;
    width: 500px;
}
#text {
    font-size: xx-large;
    position: relative;
    top: 100px;
}
p {
    font-size: xx-large;
    position: relative;
    top: 18rem;
    left: 14rem;
    font-size: 48px;

}
section {
    position: relative;
    top: -27rem;
    left: 89em;
    background-color: white;
    padding: 4px;
    margin: 5px;
    width: 400px;
}
#hr1 {
    width: 400px;
}
#logo {
    height: 80px;
    width: 80px;
    padding: 16px;
    margin: 0px;
    border-radius: 80px;
    position: relative;
    left: 1em;
    bottom: 17em;
}