* {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 10px;
}
#container {
    width: 603px;
    height: 368px;
    margin: 10px;
    background-color: darkslateblue;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 80px 80px ;
    align-content: center;
}
.box {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
    text-transform: lowercase;
    text-align: center;
    
    


}
#box1 {
    background-color: cyan;
    grid-column: 1/2;
    grid-row: 1/ 2;
}
#box2 {
    background-color: green;
    grid-column: 1/2;
    grid-row: 2/ 2;
}
#box3 {
    background-color:cornflowerblue;
    grid-column: 2/2;
    grid-row: 1/ 2;
}
#box4 {
    background-color:darkgoldenrod ;
    grid-column: 2/2;
    grid-row: 2/ 2;
}