* {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 10px;
}
#container {
    width: 303px;
    height: 168px;
    margin: 10px;
    background-color: darkslateblue;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    flex-wrap: wrap;
   
    flex-grow: 2;
}
.box {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
    text-transform: lowercase;
    text-align: center;
    
    


}
#box1 {
    background-color: cyan;
    order: 4;
    flex-grow: 1;
}
#box2 {
    background-color: green;
    order: 3;
    align-self:center;
}
#box3 {
    background-color:cornflowerblue;
    order: 1;
    

}
#box4 {
    background-color:darkgoldenrod ;
    order: 2;
}